@import 'bulma';
// @import 'font-awesome';

$font: 'Lato', sans-serif;

*{
  font-family: $font;
}

.container{
	max-width: 900px;
	margin: 25px auto;
}

// ***** Nav bar *****
.nav-bar{
	width: 800px;
	margin: 0 auto;
	.nav-item-custom{
		width: 250px;
		margin: 0 auto;
		span.nav-item{
			margin-bottom: 15px;
		} 
	}
	#title{
		width: 800px;
		font-size: 2.5em;
	}
}

// ***** Gallery view *****
.gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.single-image-wrapper{
	width: 250px;
	margin: 25px 15px;
	.single-image{
		position: relative;
		.count{
			visibility: hidden;
			position: absolute;
			top: 40%;
			left: 45%;
		}
		:hover{
			.count{
				visibility: visible;
				color: darken(white, 10%);
				font-size: 2em;
				font-weight: bold;
			}
		}
	}
}

// ***** Detail view *****
.detail-image-wrapper{
	.detail-image{ 
		button{
			font-size: 3em;
			color: black;
		}
		:hover{
			button{
				color: red;
			}
		}
	}
}