<div>
	<h1>
		<a href="https://github.com/My-Picture-Gallery">
			See the code
		</a>
	</h1>

	<div class="container" id="bios">
		<div class="child">
			<h1>Alex Windle</h1>
			</br>
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkQAAAAJGVjMTZmNWZmLTVkZjctNDRkNC05MTk3LWM2YzZjNTI1NWMwYQ.jpg">
			</br>
			<p>International teacher turned web developer, channeling a love for learning and applying it to the tech industry. Solves problems with a focus on function, form and collaboration. Skills include JavaScript, AngularJS, ReactJS, Ajax and jQuery, and version control, including Git and Github. </p>
			</br>
			<h2>
				<a href="https://github.com/Alex-Windle">
					Github
				</a>
			</h2>
			<h2>
			<a href="https://www.linkedin.com/in/alexwindle">
					LinkedIn
			</a>
			</h2>
		</div>
		
		<div class="child">
			<h1>Mallerie Shirley</h1>
			</br>
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAl4AAAAJDJjNzY0NTBhLTlmYWItNGFlYi05MGFmLTg1ZTMzYWQwY2E4NA.jpg">
			</br>
			<p>Bio goes here. </p>
			</br>
			<h2>
				<a href="https://github.com/mallerie">
				Github
				</a>
			</h2>
			<h2>
			LinkedIn
			</h2>
		</div>
	</div>
</div>