<h1>Add a New Picture</h1>

<div class="container">
	
	<form ng-submit="addPicture(picture)">
		
		<label class="label">Picture URL</label>
		<p class="control has-icon has-icon-right">
		  <input class="input is-danger" type="text" ng-model="picture.url">
		</p>

		<label class="label">Caption</label>
		<p class="control">
		  <textarea class="textarea" type="text" ng-model="picture.description"></textarea>
		</p>

		<p class="control">
		  <button class="button is-primary">Submit</button>
		</p>

	</form>

</div>